* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  background-color: #c2b8a3;
  color: #5a5046;;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
}
.logo {
  width: 300px;
  height: 300px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 150vh;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 2rem;
}

h1 {
  color: #5a5046;
  font-family: 'Pinyon Script', cursive;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.left-side h4 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.right-side {
  flex: 1;
  background: #f5f1e8;
  color: #5a5046;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.home-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.home-menu button {
  background: none;
  border: 1px solid #ccc;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: grab;
  transition: all 0.3s ease;
}

.home-menu button:hover {
  background-color: #c2b8a3;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 2rem;
}

.recipe_categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.tabs {
    background-color: #f5f1e8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s ease;
}

.tabs img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 1rem;
    color: #5a5046;
    font-family: 'Pinyon Script', cursive;
}
.tabs button {
  background: none;
  border: 0px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs button:hover {
  background-color: #c2b8a3;
}