body { background-color: #f5f1e8;
color: #8c7a6b;
font-family: 'Montserrat', sans-serif;
font-weight: 400px;
}
h1 {
  background-color: #c2b8a3;
  color: #5a5046;
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Pinyon Script',cursive;

}
h5 {font-family: 'Pinyon Script',cursive;}