{% load static %}
<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="{% static 'meals/home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> -->
        <title>Mokone Meal Diaries HomePage</title>
    </head>
    <body>
        <main class="container">
            <section class="left-side">
                <img src="{% static 'meals/pictures/MMD_Logo.png' %}" alt="Logo" class="logo">
                <h1>Mokone Meal Diaries</h1>
                <h4>From My Kitchen To Yours: Real Recipes, Real Love</h4>
            </section>
            <section class="right-side">
                <nav class="home-menu">
                    <button onclick="location.href='{% url 'prep' %}'">Meal Prep</button>
                    <button onclick="location.href='{% url 'grocery' %}'">Grocery list</button>
                    <button onclick="location.href='{% url 'quick' %}'">Quick Meal Ideas</button>
                    <button onclick="location.href='{% url 'bakes' %}'">Bakes</button>
                    <button onclick="location.href='{% url 'lunch' %}'">Lunch/Dinner</button>
                    <button onclick="location.href='{% url 'desserts' %}'">Desserts</button>
                    <button onclick="location.href='{% url 'about' %}'">About Us</button>
                </nav>
            </section>
        </main>
    </body>

</html>

